vss
*.o
.depend
.gdbinit
*/*.a
*/*.o
*/.depend
Rules.debug*
stk-4.4.4/Makefile
stk-4.4.4/a.out.dSYM
stk-4.4.4/config.*
stk-4.4.4/projects/*/Makefile
stk-4.4.4/projects/*/libMakefile
stk-4.4.4/src/Makefile
stk-4.4.4/src/libstk.a
vss.dSYM
